@media only screen and (max-width: 1300px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  nav {
    display: none;
  }
  .auth-btns {
    display: none;
  }

  .menubar {
    display: flex;
  }

  .drop-menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .drop-menu .auth-btns {
    display: flex;
  }

  .active-menu {
    display: flex;
  }

  .software-content {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }

  .features-content {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }

  .testimonials .container {
    grid-template-columns: 1fr;
  }

  .benefits-content .title {
    text-align: center;
  }

  .benefits {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .pricing-table {
    flex-direction: column;
    gap: 4rem;
  }

  footer {
    flex-direction: column;
    gap: 4rem;
  }

  .quick-links {
    gap: 2rem;
  }

  .quick-links div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.8rem;
  }

  .section {
    padding: 4rem;
  }

  .logo-text {
    display: none;
  }

  .software .container,
  .features .container,
  .faq .container,
  .pricing .container,
  .benefits-content,
  .testimonials-content {
    gap: 3rem;
  }

  .title {
    font-size: 2.2rem;
  }
}
